{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% extends 'base.html.twig' %}
{% block title %}Compte{% endblock %}

{% block body %}
<section class="account container">
{{ breadcrumbs.render([
    {'url': url('home'), 'text': 'Home'},
    {'text': 'Compte'},
]) }}
<h1 class="h1">Mon Compte</h1>
<div class="account_subtitle">
  <p>Bienvenue {{ app.user.firstname }} dans votre compte. C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
</div>
<ul class="account_links">
<li class="account_link"><a href={{ path('account_password') }}>Modifier mon mot de passe</a></li>
</ul>
- Modifier le mot de passe
- Ajouter mes adresse
- Gérer mes commandes
</section>
{% endblock %}
