{% import 'macros/breadcrumbs.html.twig' as breadcrumbs %}
{% extends "base.html.twig" %}
{% block title %}Compte | Modifier votre mot de passe{% endblock %}

{% block body %}
<section class="account container">
{{ breadcrumbs.render([
    {'url': url('home'), 'text': 'Home'},
    {'url': url('account'), 'text': 'Compte'},
    {'text': 'Modifier mon mot de passe'},
]) }}
<h1 class="h1">Modifier votre mot de passe</h1>
<div class="content">
//formulaire
</div>
</section>
{% endblock %}