{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="hero">
<div class="owl-carousel owl-carousel owl-loaded owl-drag">
  <div class="hero_slider">
    <div class="hero_wrap">
      <h1 class="hero_title">Lorem ipsum dolor sit amet lorem ipsum dolor.</h1>
      <p class="hero_subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsum soluta, dolorem recusandae ullam voluptatum cum labore nemo, rerum accusamus quod alias saepe ea fugiat cumque, aut numquam sint repellendus.</p>
      <div class="hero_btn">
        <button class="btn btn_hero">Lorem ipsum dolor</button>
      </div>
    </div>
    <div class="hero_preview">
      <img src={{asset('/images/banner/slide1.jpg')}} alt="banner1" width="100%" height="100%"/>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
