{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="hero">
<div class="owl-carousel owl-carousel owl-loaded owl-drag">
  <div class="hero_slider">
    <div class="hero_wrap">
      <div class="hero_title">Lorem ipsum dolor sit amet.</div>
      <div class="hero_subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ipsum soluta, dolorem recusandae ullam voluptatum cum labore nemo, rerum accusamus quod alias saepe ea fugiat cumque, aut numquam sint repellendus.</div>
    </div>
    <div class="hero_preview">
      <img src="https://via.placeholder.com/1920x800" alt="banner1"/>
    </div>
  </div>
</div>
</section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('home') }}
{% endblock %}
