.form {
	width: 100%;
	max-width: 65rem;
	&_group {
		@extend %flex_col;
		margin: 1.6rem 0;
		width: 100%;
		label {
			@include fc;
			font-size: 2rem;
			font-weight: 600;
			margin-bottom: 1.6rem;
		}
		input {
			@include fo;
			font-size: 1.6rem;
			height: 4rem;
			width: 100%;
			background-color: $gray;
			padding: 0.5rem 1rem;
			border-radius: 5px;
		}
		&.last {
			margin-bottom: 4rem;
		}
	}
	&_control {
		@extend %flex_between;
		width: 100%;
		@include c {
			flex-direction: column;
		}
		.form_group {
			&:last-child {
				label {
					text-align: right;
				}
				margin-left: 2rem;
				@include c {
					label {
						text-align: left;
					}
					margin-left: 0;
				}
			}
		}
	}
}
