.hero {
	margin-top: -8rem;
	width: 100%;
	&_slider {
		position: relative;
		@extend %flex_col;
		justify-content: center;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		padding-left: 12.8rem;
		@include w {
			padding-left: 6.4rem;
		}
		@include x {
			padding-left: 3.2rem;
		}
		@include c {
			padding-left: 1.6rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				to top right,
				rgba(0, 0, 0, 0.5),
				transparent
			);
		}
	}
	&_wrap {
		position: relative;
		z-index: 2;
		max-width: 50%;
		color: white;
		@include c {
			max-width: 80%;
		}
		@include v {
			max-width: 100%;
			padding-right: 1.6rem;
		}
	}
	&_title {
		@include fc;
		line-height: 1.5;
		margin-bottom: 3.2rem;
		font-size: 5.2rem;
		font-weight: 600;
		@include w {
			font-size: 4.8rem;
		}
		@include x {
			font-size: 4rem;
		}
		@include c {
			font-size: 3.2rem;
		}
		@include v {
			font-size: 2.8rem;
			text-align: center;
		}
	}
	&_subtitle {
		font-size: 2.4rem;
		line-height: 1.5;
		margin-bottom: 4.8rem;
		@include c {
			font-size: 2rem;
		}
		@include v {
			display: none;
		}
	}
	&_preview {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0.7;
		img {
			object-fit: cover;
		}
	}
	&_btn {
		@include v {
			width: 100%;
			text-align: center;
		}
	}
	.owl-carousel {
		.owl-dots {
			&.disabled {
				@extend %flex_align;
				text-align: center;
			}
			position: absolute;
			left: 50%;
			bottom: 3.2rem;
			transform: translateX(-50%);
			z-index: 3;
			.owl-dot {
				flex-shrink: 0;
				width: 2.4rem;
				height: 2px;
				border-radius: 1px;
				background: $gray-medium;
				transition: all 0.2s;
				&:not(:last-child) {
					margin-right: 4px;
				}
				&.active {
					background-color: $gray-dark;
				}
			}
		}
	}
}
