{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<section class="order container">
<h2 class="h2">Commande</h2>
<p class="order_title">Choisissez vos préférences avant de passer commande...</p>
<hr>
<div class="order_row">
  <div class="order_col">
      <p>choisir mon addresse de livraison</p>
      <p>Choisir mon transporteur</p>
  </div>
  <div class="order_col">
    <p>Récap de ma commande</p>
    <p>Bouton pour payer</p>
  </div>
</div>
</section>
{% endblock %}
